#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
  expire: False

users:
  - name: wilmermamani # Change me (nombre del dominio sin .com)
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC4CmusUc/YA1VMrrTxQfpI4e5tlWKKMyaazzEoRyqKun0deVUlSqWdNbrUZCHDnQHQ+sYyvGjx16/XR5ACi+J83m7PVHRF67TkmYUspKzxmtQCRzRoDl7RPJShvxtYo4Qewv04BQJ3ByTTLX4mhZ3Zd6BczRtGM3GlzHU7SlbSo7cNR8P/nEwW5og6H3WRS8U3qNraBaJxfmTugHTTsfa03UNS4XIUbA58zDV9C0B6BbQt+cnvzB68ivFSY0y0eyUVmFP3vq00+bbiYhWWtKQ165WRi1d4rAWiA/fXrnmzzbxoEIrVuXWTI+/cs3QxSoleKVaHcAQT1iXbAgT/opFh wilmermamani@wilmermamani-Virtual-Machine
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
    lock_passwd: false
